version: "3.9"

services:
  app:
    container_name: sardoba_app_admin
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
    restart: unless-stopped

    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1024M

    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000"]
      interval: 30s
      timeout: 5s
      retries: 3

    security_opt:
      - no-new-privileges:true